.header-bar {
    background-color: black;
    height: 50px;  /* Adjust this value for your desired thickness of the bar */
    border-radius: 10px 10px 0 0; /* Rounded corners at the top */
    width: 100%;  /* Makes sure the bar stretches the full width of the container */
    position: fixed; /* This will position the bar relative to the browser window */
    top: 0; /* This ensures it's at the very top */
    left: 0; /* This ensures it starts from the leftmost part of the window */
    z-index: 1000; /* This ensures it's above all other elements */
}


body {
    padding-top: 60px; /* This is slightly more than the height of the header bar to ensure there's space between the bar and your content */
}



header {
    font-size: 0;
    color: transparent;
    display: none;
    content:none;
}

::before {
    content: none;
}


header h1 {
    font-size: 0;
    color: transparent;
    display: none;
}
footer {
    display:none;
}


/* Print-specific styles */
@media print {
    .pagebreak {
        display: block;
        page-break-before: always;
        page-break-after: always; /* Sometimes adding both before and after can ensure the break */
    }

    .print-only {
        display: block;
    }
}

/* Screen-specific styles */
@media screen {
    .print-only {
        display: none;
    }
}