.header-bar {
    background-color: black;
    height: 50px;  /* Adjust this value for your desired thickness of the bar */
    border-radius: 10px 10px 0 0; /* Rounded corners at the top */
    margin-bottom: 20px; /* Spacing between the header bar and the content below it */
}


header {
    font-size: 0;
    color: transparent;
    display: none;
    content:none;
}

::before {
    content: none;
}


header h1 {
    font-size: 0;
    color: transparent;
    display: none;
}
footer {
    display:none;
}


/* Print-specific styles */
@media print {
    .pagebreak {
        display: block;
        page-break-before: always;
        page-break-after: always; /* Sometimes adding both before and after can ensure the break */
    }

    .print-only {
        display: block;
    }
}

/* Screen-specific styles */
@media screen {
    .print-only {
        display: none;
    }
}